* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020403;
}

button {
    color: #640909;
    background-color: #020403;
}

nav a {
    text-decoration: none;
    color: #020403;
}

ul {
    list-style: none;
}

/* ---------------------------------> MENU<--------------------------------------------*/
.menu {
    text-align: center;
}

.align-right {
    text-align: right;

}

.menu-icon {
    margin-top: 10px;
    margin-bottom: 5px;
    /*display: block;*/
}

nav {
    background-image: linear-gradient(10deg, #ffffff34, #64090979) ; 
    border-radius: 10px;
}

.hidden {
    display: none;
}

/* ---------------------------------> INTRO<--------------------------------------------*/
.section-intro {
    padding-top: 40px;
}

.row-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 168px;
    height: 194px;  
    position: relative;
    z-index: 9;
}

.position {
    position: relative;
    top: -358px;
    left: 0px; 
}

.position-horizontal {
    position: absolute;
    top: 350px;
}

.sloping-line-image {
    max-width: 100%;
}

.horizontal-line-image {
    max-width: 100%;
}

.text-name {
    color: #ADADAD;
    text-align: center;
    font-size: 18px;
}
.text-profession{
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
}
.row-media {
    display: flex;
}

.social-media {
    display: inline;
    justify-content: space-between;
}

.col-media-4 {
    display: flex;
    width: 58.33%;
}


/* ---------------------------------> ABOUT ME<--------------------------------------------*/
h2 {
    color: #FFFFFF;
    font-size: 25px;
}

p {
    color: #ADADAD;
    font-size: 16px;
}

/* ---------------------------------> HABILITIES<--------------------------------------------*/
.row-habilities {
    display: flex;
}

.col-habilities-6 {
    width: 50%;
   display: flex;
}

.img-aboutme {
    justify-content: center;
    position: relative;
    z-index: 8;
}

.text-habilities {
    color: #FFFFFF;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    bottom: -1px;
}

.text-habilities-other {
    color: #FFFFFF;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    bottom: -10px;
}

/* ---------------------------------> EXPERIENCE <--------------------------------------------*/
table, td {
    border: #640909 1px solid;
    border-collapse: collapse;
    
}
table {
    width: 100%;
}
td {
    color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
}

/* ---------------------------------> PORTAFOLIO <--------------------------------------------*/
.card {
    justify-content: space-between;
}

.special-image {
    max-width: 100%;
    justify-content: center;
}

/* ---------------------------------> CONTACT ME <--------------------------------------------*/
.row-contact {
    display: flex;
}

.col-contact-6 {
    width: 50%;
   display: flex;
}

.img-contact-me {
    justify-content: center;
    position: relative;
    z-index: 7;
}

.text-contact {
    color: #ADADAD;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: -30px;
}

/*---------------------------------->FOOTER<-----------------------------*/
.text-footer{
    color: #640909;
    font-size: 16px;
    text-align: center;
}

/*---------------------------------->SCREENS<-----------------------------*/
/* S-Screens*/
@media(min-width: 320px){
    .position-horizontal {
        top: 470px;
    }
}

/* Md-Screns*/
@media(min-width: 768px){
    .special-image {
        width: 389px;
    } 
    .position-horizontal {
        top: 260px;
    }
    .row {
        display: flex;
    }
    .col-md-4 {
        width: 33.33%;
        padding: 10px;
        max-height: 100%;
    }
}

/* Desktop*/
@media(min-width: 992px) {
    .lg-hidden {
        display: none;
    }
    #main-menu {
        max-height: none;
        background-color: none;
        display: inline;
        text-align: right;
    }
    nav a {
        color: #FFFFFF;
        font-size: 20px;
    }
    nav li {
        display: inline-block;
        padding-left: 60px;
    }
    .row {
        display: flex;
        background-color: #64090956;
    }
    .col-md-4 {
        width: 33.33%;
        padding: 10px;
        max-height: 100%;
    }
    .text-name {
        font-size: 45px;
    }
    .text-profession{
        font-size: 150px;
    }
    .section-intro {
        padding-top: 20px;
    }
    .photo {
        width: 336px;
        height: 388px;  
        position: relative;
        z-index: 9;
    }
    .position {
        position: relative;
        top: -1050px;
        left: 0px; 
    }
    .position-horizontal {
        position:absolute;
        top: 800px;
    }
    .img-social-media {
        width: 90px;
        height: 90px;
    }
    h2 {
        color: #FFFFFF;
        font-size: 50px;
    }
    p {
        color: #ADADAD;
        font-size: 29px;
    }
    td {
        font-size: 29px;
    }
    .section-intro {
        padding-top: 70px;
        text-align: center;
    }
    .text-contact {
        font-size: 18px;
    }
    .text-footer{
        font-size: 25px;
    }
}





